.info-row {
    &--title {
        color: $black;
        //font-size: $base;
        letter-spacing: .06rem;
        line-height: 1.75;
    }

    &--text {
        color: $black;
        line-height: 1.75;
    }
}
