// stylelint-disable declaration-no-important

$button-primary-border-color: $primary;
$button-secondary-border-color: $button-primary-border-color;

.button {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .15);
        color: $primary-invert !important;
    }

    .icon {
        fill: currentColor !important;
        color: inherit;
    }

    &:focus,
    &.is-focused {
        border-color: $button-primary-border-color !important;
        outline: .125rem dotted $black !important;
        outline-offset: .25rem !important;
    }

    &.is-secondary {
        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
            border-color: $color-taide-tiili !important;
            background-color: $color-taide-tiili !important;
            color: $primary-invert !important;

            .icon {
                fill: currentColor !important;
            }
        }

        &:focus,
        &.is-focused {
        }
    }
}
