// stylelint-disable declaration-no-important

$button-primary-border-color: $primary;
$button-secondary-border-color: $button-primary-border-color;


.button {
    font-size: 1.15rem !important;
    font-weight: 400 !important;
    letter-spacing: .06rem !important;
    text-transform: uppercase;
    border-color: $primary !important;
    padding: .5rem 1.5rem;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .15);
        color: $primary !important;

        &:active {
            background-color: $black !important;
            color: $white !important;
            outline: none !important;

            .icon {
                fill: currentColor !important;
            }
        }
    }

    .icon {
        fill: currentColor !important;
        color: inherit;
    }

    &:focus,
    &.is-focused {
        border-color: $button-primary-border-color !important;
        outline: .125rem dotted $black !important;
        outline-offset: .25rem !important;
    }

    &.is-primary {
        &.is-outlined {
            &:hover,
            &:focus {
                border-color: $primary !important;
            }
        }
    }

    &.is-primary.is-inverted,
    &.is-primary-invert {
        border-color: $primary !important;
        background-color: $primary-invert !important;
        color: $primary !important;

        &:hover,
        &:focus {
            border-color: $primary !important;
        }

        &:active {
            background-color: $white !important;
            color: $black !important;
        }
    }

    &.is-secondary {
        background-color: $white !important;
        color: $black !important;

        .icon {
            fill: currentColor !important;
        }

        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
            border-color: $color-taide-tiili !important;
            background-color: $color-taide-tiili !important;
            color: $primary-invert !important;

            .icon {
                fill: currentColor !important;
            }
        }
    }

    &.is-outlined {
        border-color: $white !important;
        background-color: transparent !important;
        color: $white !important;

        &:hover,
        &:focus {
            background-color: $white !important;
            color: $black !important;
        }
    }
}
