form {
    select,
    input,
    textarea {
        border-color: $color-vaalean-harmaa;
    }
}

select {
    background-color: $primary-invert;
    color: $primary;

    @include until($desktop) {
        font-size: 1em;
    }
}
