.sibling-navigation {
    &__items {
        margin: 0 !important;
        gap: $theme-spacing;

        @include from($desktop) {
            gap: $theme-spacing-oneandhalf;
        }
    }

    &__item {
        &:not(.is-current):hover {
            color: $primary-invert;
        }
    }
}
