.sibling-navigation {
    &__item {
        &:focus {
            outline-offset: .25rem;
            outline: .125rem dotted $black;
        }
    }

    &__item:not(.is-current) {
        &:hover {
            color: $white;
        }
    }
}
