/*
 * Theme Name:  TMS Theme Taidemuseo
 * Description: Tampere Multisite Taidemuseo Theme
 * Version:     1.13.1
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-taidemuseo
 */
