.single-artist {
    .entry {
        &__figure {
            padding-top: 105% !important;

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}
