.site-header-notice {
    button {
        
        &.is-primary-invert {
            border-color: $white !important;
        }
       
        .icon {
            fill :$white !important;
        }

        &:hover,
        .is-hover {
            .icon {
                fill :$black !important;
            }
        }

        &:focus,
        .is-focus {
            outline: .125rem dotted $white !important;
            .icon {
                fill :$black !important;
            }
        }

    }
}
