@font-face {
    font-family: "Sara";
    font-weight: 400;
    src: url("./../fonts/Sara_Regular.woff");
}

@font-face {
    font-family: "Sara";
    font-weight: 600;
    src: url("./../fonts/Sara_Semibold.woff");
}

@font-face {
    font-family: "Sara";
    font-weight: 700;
    src: url("./../fonts/Sara_Bold.woff");
}
