@import "functions";

// All Tampere brand colors
$color-white: #ffffff;
$color-black: #000000;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-taide-tiili: #891a45;
$color-taide-secondary: #f6f6f6;
$color-taide-roosa: #F4dad8;
$color-taide-harmaa: #f0f0f0;
$color-tekstin-vari: #41434A;
$color-ui-border: #414141;

$color-sarahilden-gray: #767676;
$color-vaalean-harmaa: #bebfbf;
$color-tumma-harmaa: #585857;
