.call-to-action {

    &__item {

        .layout-badge {

            @include from($tablet) {
               
            }
        
            @include from($desktop) {
                top: 50%;
                width: 130px;

            }

            &__text {
                font-size: 1rem;
                // line-height: 1.2;

                // @include from($tablet) {
                //     font-size: 1.1rem;
                // }
        
                @include from($widescreen) {
                    font-size: 1.1rem;
                }
            }
            
            
            &.align-before {    
                @include from($desktop) {
                    left: 0;
                    transform: translateX(-20%) translateY(-50%);
                }
            }
        
            &.align-after {
                @include from($desktop) {
                    right: 0;
                    transform: translateX(20%) translateY(-50%);
                }
            }
        }
    }
}
