.link-list {
    border: 1px solid $black;

    &__title {
        color: $black;
        font-weight: $weight-medium;
        letter-spacing: 0.01rem;
        text-transform: none;
    }

    .icon {
        color: inherit;
        fill: currentColor !important;
    }

    .layout-badge {
        top: -$theme-spacing;
        left: unset;
        right: 0;

        @include from($desktop) {
            top: 50%;
            transform: translateY(-50%);
        }

        &.align-before {
            @include from($desktop) {
                left: -8.5rem;
            }
        }

        &.align-after {
            @include from($desktop) {
                right: -8.5rem;
            }
        }
    }
}
